::ng-deep .mat-paginator {
    background-color: transparent;
    color: white
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #131822 !important;
}

::ng-deep .mat-button-wrapper {
    line-height: 28px !important;
}

::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
} 

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 28px !important;
    padding: 0.75em 1.75em 0 1.75em !important;
}