<div class="row m-0 p-0 justify-content-center h-100">
    <div class="customCol-2 text-center softwareLogo">
        <img src="../../../assets/img/logo.png" style="margin-right:3%">
        <h2>Name</h2>
    </div>
    <div class="customCol-10 text-white headerRight">
        <div class="row justify-content-center">
            <div class="col-1" style="align-self: center;"><i style="font-size: 25px;"class="bi bi-list"></i></div>
            <div class="col-7"></div>
            <div class="col-4" style="text-align-last: right; align-self: center;">
                <mat-icon style="vertical-align: middle;" class="h-100">fullscreen</mat-icon>
                <mat-icon style="vertical-align: middle;" class="h-100">notifications_none</mat-icon>
                <img style="vertical-align: middle;" src="../../../assets/img/img.jpg" class="rounded-circle">
                <mat-icon style="vertical-align: middle;" class="h-100">settings</mat-icon>
            </div>
        </div>
    </div>
</div>

