.containter{
    padding: 1% !important;
    margin: 1% !important;
}


div {
    color:#96A2B4;
}

mat-card {
    border-radius: 5%;
    color:#96A2B4 !important;
    background: #1a202e;
    border: none;
    box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
}


table{
    color:#96A2B4 !important;
    padding: 4% !important;
}

tr {
    height: 50px !important;
    vertical-align: middle;
}


.badge {
    background-color: transparent;  
}

.mat-button{
    width: 100px !important;
}

#edit{
    background-color: #FF8306 !important;
    color: white;
}

#delete{
    background-color: #96a2b4 !important;
    color: white;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: lightgrey!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: red !important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #96A2B4 !important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #96A2B4 !important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: #96A2B4 !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #96A2B4 !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: #96A2B4 !important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #96A2B4 !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #96A2B4 !important;
}
mat-label{
    color: #96A2B4 !important;
}

mat-hint{
    color: #96A2B4 !important
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #131822 !important;
}

.box-img{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    margin: 25px;
    box-shadow: 5px 3px 10px 0 rgb(21 15 15 / 30%);
    border-radius: 10px;
    text-align: -webkit-center;
}


.box-img i {
    font-size: 22px;
    color: #fff;
}

.box-statistics{
    margin-top: 10%;
    float:right
}

.box-statistics h4{
    font-size: 18px;
    font-weight: 500;
    text-align: end;
}

mat-icon{
    font-size: 22px;
    color: #fff;
}

.box-statistics div{
    font-size: 26px;
    font-weight: 700;
    text-align: end;
    margin-top: 5%;
}

.box-statistics h5{
    text-align: end;
    font-size: 26px;
    margin-top: 1%;
    font-weight: 700;
}

.box-indicators{
    margin-top: 68%;
}

::ng-deep mat-progress-bar{
    height: 10px !important;
    background-color: red !important;
}
