<div class="my-component">
    <div class="row justify-content-center text-white my-row">
        <div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 m-4" id="div-bg">132</div>
        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4 m-4 div-login">
            <div class="row m-0 justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center mt-5">
                    <h1>Login</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="row m-0 justify-content-center">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <mat-form-field class="mt-3 w-100" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput value="pat@example.com" placeholder="pat@example.com" required>
                                <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-10 col-xs-10">
                            <mat-form-field class="mt-2 w-100" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput value="password" placeholder="password" required>
                                <mat-icon matSuffix>visibility_off</mat-icon>
                                <!-- <mat-icon matSuffix>visibility_on</mat-icon> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 mt-2">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                            <section style="margin-left: 5% !important">
                                <mat-checkbox style="color: grey">Remember me</mat-checkbox>
                            </section>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                          <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="row m-0 mt-5">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button color="primary" id="loginButton" mat-flat-button>Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>