<div class="containter">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <mat-card class="h-100">
                        <div class="name mt-2">Name Surname</div>
                        <div class="position mt-2">Manager</div>
                        <img src="../../../assets/img/img.jpg" alt="thumbnail" class="thumbnail mt-2">
                        <div class="mt-4">Lorem Ipsum Lorem Ipsum Lorem Ipsum</div>
                        <div>Kicevo, Macedonia</div>
                        <div class="mt-4"><mat-icon style="font-size: 14px;">phone</mat-icon> <span class="p-1">077 431 638</span></div>
                        <div class="row mt-4">
                            <div class="col-4">
                                <div style="font-size: 1.25rem; font-weight: 500;">564</div>
                                <div class="mt-2">Orders</div>
                            </div>
                            <div class="col-4">
                                <div style="font-size: 1.25rem; font-weight: 500;">312</div>
                                <div class="mt-2">Shifts</div>
                            </div>
                            <div class="col-4">
                                <div style="font-size: 1.25rem; font-weight: 500;">315,212</div>
                                <div class="mt-2">Money</div>
                            </div>
                        </div>
                    </mat-card>       
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <mat-card class="h-100">
                        <mat-tab-group mat-align-tabs="start" class="w-100">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                  <mat-icon style="margin-right:9% !important">face</mat-icon>
                                    About
                                  </ng-template>  
                                <div class="row w-100 mt-2 p-2">
                                    <div class="col-12">
                                        <h2><strong>About</strong></h2>
                                    </div>
                                    <div class="col-3">
                                        <strong>Fullname</strong> 
                                        <br/>
                                        <p>John Smith</p>
                                    </div>
                                    <div class="col-3">
                                        <strong>Mobile Phone</strong>
                                        <p>077 483 211</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>Email</strong>
                                        <p>stavreskibojan@gmail.com</p>
                                    </div>
                                    <div class="col-2">
                                        <strong>Location</strong>
                                        <p>Kicevo</p>
                                    </div>
                                </div>
                                <div class="row mt-5 justify-content-center w-100">
                                    <div class="col-12">
                                        <p>
                                            Completed my graduation in Arts from the well known and renowned institution of India – SARDAR PATEL ARTS COLLEGE, BARODA in 2000-01, which was affiliated to M.S. University. I ranker in University exams from the same university from 1996-01.
                                        </p>
                                    </div>
                                    <div class="col- mt-5">
                                        <p>
                                            Completed my graduation in Arts from the well known and renowned institution of India – SARDAR PATEL ARTS COLLEGE, BARODA in 2000-01, which was affiliated to M.S. University. I ranker in University exams from the same university from 1996-01.
                                        </p>
                                    </div>
                                    <div class="col- mt-5">
                                        <p>
                                            Completed my graduation in Arts from the well known and renowned institution of India – SARDAR PATEL ARTS COLLEGE, BARODA in 2000-01, which was affiliated to M.S. University. I ranker in University exams from the same university from 1996-01.
                                        </p>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Second">
                                <ng-template mat-tab-label>
                                <mat-icon style="margin-right:9% !important">settings</mat-icon>
                                Settings
                              </ng-template>
                              <div class="row w-100 mt-2 p-2">
                                <div class="col-12">
                                    <h2><strong>Security Settings</strong></h2>
                                </div>
                                <div class="col-12 mt-1">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                      </mat-form-field>
                                </div>
                                <div class="col-12 mt-1">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Old Password</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                      </mat-form-field>
                                </div>
                                <div class="col-12 mt-1">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>New Password</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                      </mat-form-field>
                                </div>
                                <div class="col-12 mt-3">
                                    <button mat-button>Save</button>
                                </div>
                            </div>
                            
                            <div class="row w-100 mt-2 p-2">
                                <div class="col-12">
                                    <h2><strong>Account Settings</strong></h2>
                                </div>
                                <div class="col-6 mt-1">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                      </mat-form-field>
                                </div>
                                <div class="col-6 mt-1">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                      </mat-form-field>
                                </div>
                                <div class="col-4 mt-2">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>City</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                      </mat-form-field>
                                </div>
                                <div class="col-4 mt-2">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                      </mat-form-field>
                                </div>
                                <div class="col-4 mt-2">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Country</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                      </mat-form-field>
                                </div>
                                <div class="col-12 mt-3">
                                    <button mat-button>Save Changes</button>
                                </div>
                            </div>
                            </mat-tab>
                          </mat-tab-group>
                    </mat-card>       
                </div>
            </div>
        </div>
    </div>
</div>