::ng-deep .mat-paginator {
    background-color: transparent;
    color: white
}

::ng-deep .mat-button-wrapper {
    line-height: 28px !important;
}

.search-icon {
    position: absolute;
    top: 44px;
    padding-left: 10px;
    color: #96a2b4;
}

.search-field {
    font-weight: 500;
    color: #96a2b4;
    border-radius: 25px;
    border: 0;
    height: 45px;
    padding: 8px 8px 8px 50px;
    width: 250px;
    transition: 0.2s, width 0.2s;
    background: #12161f;
}
  
