<!-- <div class="row m-0 p-0 justify-content-center">
    <div id="header" class="col-3 m-0 p-0"><app-header></app-header></div>
    <div id="menu" class="col-3 m-0 p-0"><app-menu></app-menu></div>
    <div id="components" class="col-9 m-0 p-0"><router-outlet></router-outlet></div>
</div> -->

<!-- 
<div class="row m-0 p-0" id="mainRow">
    <div class="col-8 m-0 p-0" id="rightSideBar"> -->
    <div class="row m-0 p-0 justify-content-center">
        <div class="col-12 m-0 p-0" id="header"><app-header></app-header></div>
        <div class="m-0 p-0" id="leftSideBar"><app-menu></app-menu></div> 
        <div class="col-9 m-0 p-0" id="router"><router-outlet></router-outlet></div>
    </div>
    <!-- </div>
</div> -->

